.titleHome{
    font-weight: 600;
    color: #FC6F15;
}

.noteInput{
    height: 30vh;
}


.noteForm{
    width: 30vw;
}

label{
    font-weight: 400;
}

.btonNote {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    margin-top: 20px;
    background-color: #FC6F15
}

.btonNote:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
}

.btonNote:hover:after {
    opacity: 1;
    right: 10px;
}

.btonNote:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}